ul {
  padding: 0;
}

li {
  list-style: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.principal-container {
  display: flex;
  flex-direction: column;
}

.visor-container {
  display: grid;
  grid-template-columns: repeat(4, auto) 3rem;
  gap: 1rem;
}

.form-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
