.menu-bar {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .175);
  border: 1px solid #d2d2d2;
}

.screen-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  overflow-y: scroll;
}

.end-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
