<form>
    <div class="form-top-container">
        <div class="input-container">
            <label for="cliente">Cliente</label>
            <input type="text" id="cliente">
        </div>
        <div class="input-container">
            <label for="dataDeVenda">Data de Venda</label>
            <input type="date" id="dataDeVenda">
        </div>
        <div class="input-container">
            <label for="categoriaFinanceira">Categoria Financeira</label>
            <input type="text" id="categoriaFinanceira">
        </div>
        <div class="input-container">
            <label for="vendedor">Vendedor</label>
            <input type="text" id="vendedor">
        </div>
    </div>
    <!--  -->
    <label for="produto">Produto</label>
    <input type="text" id="produto">
    <label for="quantidade">Quantidade</label>
    <input type="number" id="quantidade">
    <label for="desconto">Desconto</label>
    <!--  -->
    <input type="number" id="desconto">
    <label for="frete">Frete</label>
    <input type="number" id="frete">
    <label for="natureza">Natureza</label>
    <input type="text" id="natureza">
    <label for="formaPagamento">Forma de Pagamento</label>
    <input type="text" id="formaPagamento">
    <label for="numeroParcelas">Número de Parcelas</label>
    <input type="number" id="numeroParcelas">
    <label for="vencimentoPrimeiraParcela">Vencimento da Primeira Parcela</label>
    <input type="date" id="vencimentoPrimeiraParcela">
</form>