
.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

input {
    width: min(50vw, 20rem);
}

.d-none {
  display: none
}
