.container {
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 2rem;
    width: 95%;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .175);
    border: 1px solid #d2d2d2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.header-botoes {
    display: flex;
    gap: 0.5rem;
}

p-button {
    height: auto;
}

p-table {
    grid-column-start: 2;
}

h1 {
    font-size: 1.5rem;
}