li {
  list-style: none;
}

form {
  padding: 1rem;
}

input {
  width: 15rem;
}

h2 {
  width: 100%;
  font-size: 1.5rem;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.hidden {
  visibility: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .175);
  border: 1px solid #d2d2d2;
}

.form-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.elemento-formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
