<p-card>
  <div class="card-content-container">
    <img [src]="imgModel.path" [alt]="imgModel.alt">
    <div class="card-text-container">
      <div class="header-container">
        <h1>{{title}}</h1>
      </div>
      <div class="number-container">
        <p
          *ngIf="type === 'currency'
      else numericValue">
          {{value | currency: 'BRL'}}</p>
        <ng-template #numericValue>
          <p>{{value}}</p>
        </ng-template>
      </div>
      <div class="variation-container">
        <img *ngIf="change > 0" src="assets/upArrow.svg" alt="set para cima">
        <img *ngIf="change < 0" src="assets/downArrow.svg" alt="set para baixo">
        <span>{{change | percent}} (30 dias)</span>
      </div>
    </div>
  </div>
</p-card>
