.header-container {
  margin: 3rem 2rem 3rem 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.header-buttons-container {
  display: flex;
  margin-left: auto;
  gap: 2rem;
}

.table-header-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.left-table-header {
  display: flex;
  margin-right: auto;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 2rem !important;
}
