h2 {
  margin-left: 5%;
  margin-bottom: 1rem;
  align-self: flex-start;
}

.header-container h1 {
  flex-grow: 3;
}

.header-container {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}


.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.home-card {
  max-width: 20rem;
  min-width: 15rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  width: 100%
}
