/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "assets/theme.css";
@import "primeng/resources/primeng.css";
body {
  font-family: var(--font-family);
}

*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

.p-card {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .175);
  border: 1px solid #d2d2d2;
}

.p-datepicker {
  transform: scale(0.8);
}

body {
  background-color: #e0e0e0;
}

.p-submenu-list {
  border-radius: 12px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.debug {
  border: 1px solid red;
}