<p-table
  [value]="data"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  currentPageReportTemplate="Mostrando {first} a {last} de um total de {totalRecords} entradas"
  [tableStyle]="{ 'min-width': '50rem' }"
  styleClass="p-datatable-sm"
  sortMode="multiple"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="product">Produto <p-sortIcon field="product"></p-sortIcon></th>
      <th pSortableColumn="brand">Marca <p-sortIcon field="brand"></p-sortIcon></th>
      <th pSortableColumn="amount">Quantidade<p-sortIcon field="amount"></p-sortIcon></th>
      <th pSortableColumn="lastUpdate">Último Lançamento<p-sortIcon field="lastUpdate"></p-sortIcon></th>
      <th pSortableColumn="nfeAmount">NF-e<p-sortIcon field="nfeAmount"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.product }}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.amount }}</td>
      <td>{{ product.lastUpdate | date : "dd/M/yyyy" }}</td>
      <td>{{ product.nfeAmount }}</td>
    </tr>
  </ng-template>
</p-table>
