.card-content-container {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 0.2rem;
  place-items: center;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

img {
  transform: scale(0.8);
  place-self: start;
}

.number-container {
  font-size: 1.5rem;
}

h1 {
  font-size: 1.5rem;
}
